{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Hasfa's Blog</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div class="page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu">NEW POST</a>
		{% endif %}
		<h1><a href= "/">My Blog</a></h1>
	</div>
	<div class="content container" style="background-image:url(../static/images/pic1.jpeg);">
		<div class="row">
			<div class="col-md-8">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	</div>

</body>
</html>